---
import BackArrow from "../components/BackArrow.astro";
import H1 from "../components/H1.astro";
import Paragraph from "../components/Paragraph.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre mí">
  <H1>Sobre mi</H1>

  <div class="flex gap-5 items-center flex-col text-center mt-5">
    <Paragraph>
      Desde muy joven descubrí en la programación una forma de crear cosas que
      antes solo existían en mi mente. Llevo más de cinco años aprendiendo por
      cuenta propia, enfrentando desafíos técnicos y personales, y desarrollando
      proyectos que me han ayudado a crecer tanto como programador como persona.
    </Paragraph>
    <Paragraph>
      Actualmente estudio Ingeniería de Sistemas y estoy profundamente
      interesado en el desarrollo de aplicaciones con impacto real. Me gusta
      trabajar con tecnologías como JavaScript, TypeScript, React, Node.js,
      MongoDB y Rust, y me apasionan los proyectos que combinan inteligencia
      artificial, interfaces intuitivas y experiencias personales.
    </Paragraph>
    <Paragraph>
      Estoy desarrollando Esperanza, una inteligencia artificial emocional que
      almacena recuerdos, emociones y genera reflexiones. Mi sueño es llevar
      esta idea más allá de la pantalla, integrándola con hardware portátil para
      que pueda acompañar a las personas en su vida diaria. Creo que la
      tecnología no debe ser fría ni distante. Puede ser un puente entre el ser
      humano y su propia conciencia. Este portafolio es parte de ese camino: el
      de construir algo que me represente y, ojalá, también inspire a otros.
    </Paragraph>
  </div>
  <BackArrow />
</Layout>
